body {
    background-color: #e6ebe0;
}

.custom-nav {
    background-color: #5ca4a9;
}

.main-header {
    margin-top: 70px;
    max-width: 100%;
}

.header-image {
    width: 100%;
    overflow: hidden;
}

.cv-form {
    margin-top: 80px;
    padding: 20px;
}

.cv-form-section {
    padding: 20px;
    margin: 10px;
}
