:root {
  --terra: #ed6a5a;
  --platinum: #e6ebe0;
  --cambridge: #9bc1bc;
  --cadet: #5ca4a9;
  --blond: #f4f1bb;
}

.App {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.nav-hidden {
  background-color: transparent;
}

.nav-shown {
  background-color: var(--cadet);
  border-bottom: 2px solid var(--terra);
}

a.nav-link {
  transition: color 0.8s ease, margin 0.5s ease, padding 0.5s ease;
}

.nav-hidden a.nav-link {
  color: var(--platinum) !important;
}

.nav-hidden .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28230, 235, 224, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-hidden .navbar-toggler {
  border-color: rgba(230, 235, 224, 0.6) !important;
}

.nav-hidden .show a.nav-link,
.nav-hidden .collapsing a.nav-link {
  border: 1px solid rgba(230, 235, 224, 0.6);
  border-radius: 0.25rem;
  margin: 2px 0px;
  padding-left: 6px;
  background-color: rgba(230, 235, 224, 0.15) !important;
  box-shadow: 0px 1px black;
}

.footer {
  background-color: var(--cadet);
  height: 200px;
}

.btn-secondary {
  background-color: var(--cadet) !important;
  border-width: 0px !important;
  color: black !important;
}

/*Home page*/

.overlay-h1 {
  color: var(--platinum);
  margin-top: calc((48vh - 6vw) - 15px);
  font-size: calc(10vw + 0.7em);
  font-family: "Manuale", serif;
  font-weight: bold;
  letter-spacing: 1vw;
}

.overlay-h1-long {
  font-size: calc(9vw + 0.5em);
  letter-spacing: 0.5vw;
}

.carousel-subtitle {
  font-size: calc(1.7vw + 0.6em);
}

.carousel-image {
  margin-left: 50%;
  transform: translateX(-50%);
}

.carousel-card {
  background-color: black !important;
}

@keyframes indicator-flow {
  0% {
    transform: translateY(-60%);
    color: rgba(255, 255, 255, 0.1);
  }
  25% {
    transform: translateY(-35%);
    color: rgba(255, 255, 255, 1);
  }
  75% {
    transform: translateY(15%);
    color: rgb(255, 255, 255, 1);
  }
  100% {
    transform: translateY(40%);
    color: rgba(255, 255, 255, 0.1);
  }
}

.scroll-indicator {
  font-size: calc(1.8em + 1vh);
  position: absolute;
  animation-name: indicator-flow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.delayed-15 {
  animation-delay: 1.5s;
  color: rgb(255, 255, 255, 0);
}

.main-c2 {
  background-color: rgba(155, 193, 188, 0.5);
}

/*Choice*/

.choice {
  margin-top: 100px;
  overflow: hidden;
}

.choice-group {
  background-color: rgba(155, 193, 188, 0.3);
}

.choice-style-overlay {
  visibility: hidden;
  background-color: rgba(50, 50, 50, 0.4);
}

.choice-style-overlay-button-container {
  margin-top: 50%;
  transform: translateY(-50%);
}

@media (hover: hover) {
  .style-choice:hover .choice-style-overlay {
    visibility: visible;
  }
}

.color-group {
  background-color: rgba(155, 193, 188, 0.3);
}

.color-card {
  border-color: var(--cadet) !important;
  border-width: 4px !important;
}

/*Form*/

.cv-form {
  margin-top: 100px;
  background-color: var(--cadet);
}

.cv-form-section {
  background-color: var(--platinum);
}

.entry-group {
  background-color: rgba(155, 193, 188, 0.3);
}

.img-uploader {
  background-color: var(--platinum);
  border-radius: 0.25rem;
}

.form-options-header {
  background-color: var(--platinum) !important;
}

.input-group > .input-group-append > .dropdown > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .input-group-prepend > .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
}

/*Confirmation*/
.confirmation {
  padding-top: 100px;
  width: 100%;
  min-height: calc(100% - 200px);
  overflow: hidden;
}

.confirm-title {
  text-align: center;
}

.confirm-box {
  background-color: rgba(155, 193, 188, 0.3);
}

/*Modals and toasts*/

.standard-modal {
  font-family: Montserrat, sans-serif;
}

.save-toast {
  position: fixed;
  bottom: 0;
  right: 0;
}
